:root {
    --jamo-text-color: #2f5496;
}

body {
    background: var(--jamo-text-color);
    font-family: "Caveat Brush", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.7em;
}

.divider {
    color: var(--color-neutral-content);
}
.divider:before,
.divider:after {
    background-color: var(--color-base-300);
}

.navbar div:first-child {
    color: var(--jamo-text-color);
}
.navbar div:first-child a:hover {
    background-color: var(--jamo-text-color);
    color: var(--color-neutral-content);
}

.navbar .menu li .menu-active {
    background-color: var(--jamo-text-color);
}

/* index.html */

div.hero {
    background-image: url(../images/hero-image.png);
}

div.hero h1 {
    font-size: 3em;
    font-weight: 400;
}

div.hero a {
    font-size: 1.1em;
}

div.hero p {
    margin-top: 10em;
}